gitignore
# IDE / Android Studio
.idea/
*.iml
*.ipr
*.iws
.DS_Store
/captures
.externalNativeBuild
.cxx
/assetWizardSettings.xml

# Gradle / Build
.gradle/
build/
app/build/
.kotlin/

# Firma y Secretos (CRÍTICO)
local.properties
*.keystore
*.jks
*.google_play_keys

# Kotlin / Java
*.class
*.log
*.jar
*.war
*.zip
*.tar.gz
*.rar
hs_err_pid*
replay_pid*

# Mobile Tools for Java (J2ME)
.mtj.tmp/

!gradle/wrapper/gradle-wrapper.jar